<!-- 

-->
<launch>
	<node pkg="find_positions" type="find_positions_node" name="find_positions" output="screen" >
        <!--param name="frame_id" type="string" value="map" />
        <remap from="cmd_vel" to="/former_base_controller/cmd_vel"/-->
    </node>
       
    <!--node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config)"/-->

</launch>
